<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ANM Tools</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' href="{{ url_for('static', filename='img/logo.png ') }}" type='image/x-icon' sizes="16x16" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.css') }}" />

</head>

<body>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="45">
            <h2>Transaction Journal Generator</h2>
            <br>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <!-- Form code begins -->
                <form method="POST" class="needs-validation">
                    {{ form.csrf_token() }}
                    <div class="form-group" >
                        {{ form.type_transaction.label(class="control-label") }}
                        {{ form.type_transaction(class="form-control") }}
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.start_date.label(class="control-label") }}
                            {{ form.start_date(class="form-control", id="date", placeholder="MM/DD/YYY", type="text")}}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.end_date.label(class="control-label") }}
                            {{ form.end_date(class="form-control", id="date", placeholder="MM/DD/YYY", type="text")}}
                        </div>
                    </div>
                    <!--<div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.bank_account.label(class="control-label") }}
                            {{ form.bank_account(class="form-control") }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.cash_account.label(class="control-label") }}
                            {{ form.cash_account(class="form-control") }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.tax_account.label(class="control-label") }}
                            {{ form.tax_account(class="form-control") }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.type_account.label(class="control-label") }}
                            {{ form.type_account(class="form-control") }}
                        </div>
                    </div>-->
                    <div class="form-group">
                        <!-- Submit button -->
                        {{ form.submit(class="btn btn-primary")}}
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        var start_date = $('input[name="start_date"]'); //our date input has the name "date"
        var end_date = $('input[name="end_date"]'); //our date input has the name "date"
        var options = {
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true,
        };
        start_date.datepicker(options);
        end_date.datepicker(options);

    })
</script>

</html>